.hero-section-container {
  background-image: url("../../img/studio.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-section-header {
    color: white;
    text-align: center;

    z-index: 1;
    h1 {
      font-size: 8em;
    }

    p {
      font-size: 1.5em;
    }
  }
}
