.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;

  .portfolio-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .band-name {
      text-align: center;
    }

    .band-player {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .portfolio-container {
    margin: 1.5em;
    .portfolio-content {
      display: flex;
      flex-direction: column;
    }
  }
}
