@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
@import "./mixins.scss";
@import "./header.scss";
@import "./components/heroSection.scss";
@import "./components/aboutSection.scss";
@import "./components/carousel.scss";
@import "./pages/studio.scss";
@import "./pages/portfolio.scss";
@import "./components/footer.scss";

body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  background-color: rgb(234, 230, 230);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 1.5em;
  border-radius: 5px;
  font-size: 1em;
  transition-duration: 0.2s;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
